@import modules/normalize
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700')

// variables
$primary-color: #59b5a0
$secondary-color: #f5bd34

body
  font-family: 'Open Sans', sans-serif

h1
  font-family: 'Abril Fatface', serif
