footer.footer
  h3.logo__text MDMUN
  .footer__links-container
    a(href="#").footer__link about
    a(href="#").footer__link rules
    a(href="#").footer__link contact
  .footer__copyright copyright 2018 
  
