section.founders-message__container
  p.section-title founder's message
  .founders-message__image-container
    .founders-message__image
    .founders-message__name Kimberley Leong
    .founders-message__title Founder of MDMUN, Maktab Duli Graduate
  .founders-message__text-container
    p.founders-message__short-text
       | My name is Kimberley, I am a former student of Maktab Duli, Class of 2015, and I am also the Main Organizer of MD MUN 2016. Throughout my time in Maktab Duli and secondary school years, I have participated in many public speaking competitions and events, including being the title holder of Brunei's National Senior Level English Debate Competition 2015, however, some of my most memorable experiences through these years are my MUN experiences; which is why I was inspired to organize my very own.
    .founders-message__gradient-cover 
     
  a.button.founders-message__button
    p.button__text view full message
      
