section.header-card__container
  h1.header-card__title Peace, Justice and Strong Institutions
  h3.header-card__tagline sdg goal 16
  .header-card__side-image
  a.button.header-card__button
   p.button__text view schedule
