section.quick-links__container
  p.section-title quick links
  .quick-links__link.regulations-image
    a(href="").quick-link__title
     h1  regulations
  
  .quick-links__link
    a(href="").quick-link__title
      h1  topics
      
